<template>
  <div class="one-profile-page">
    <div class="box-img"><img :src="require('@/assets/images/logo.png')" alt="img" class="object-fit"></div>
    <div class="text-center-d">Приложение Come On для интерсных знакомств</div>
    <form @submit.prevent="submitForm">
      <div class="form-260">
        <SocialAuth />

        <TextField placeholder="Номер телефона или e-mail" class="mb15" v-model="credential.login" />

        <TextField placeholder="Пароль" class="mb15" type="password" v-model="credential.password" />

        <div class="text-center">
          <div class="mb10">
            <button class="dark-btn big">Войти</button>
          </div>
          <div class="text-or">или</div>
          <button class="btn-light-2" type="button" @click.prevent="goToRegister">
            Зарегистрироваться
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapActions } from 'vuex';
import TextField from '@/components/formFields/TextField.vue';
import SocialAuth from '@/pages/login/components/SocialAuth.vue';
import authTypes from '@/store/auth/types';
import { ICredential } from '@/models/ICredential';
import { namesRoutes } from '@/router/types';
import { eventsNamesRoutes } from '@/router/events/types';

export default defineComponent({
  name: 'Login',
  components: { TextField, SocialAuth },
  data() {
    return {
      credential: {
        login: '',
        password: '',
      } as ICredential,
    };
  },
  methods: {
    ...mapActions([authTypes.LOGIN]),
    goToRegister() {
      this.$router.push({ name: namesRoutes.REGISTER });
    },
    submitForm() {
      this.LOGIN(this.credential).then(() => {
        this.$router.push({ name: eventsNamesRoutes.EVENTS });
      });
    },
  },
});
</script>

<style scoped lang="scss">
.text-or {
  user-select: none;
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 15px;
  text-align: center;
}
</style>
