<template>
  <h1>Register</h1>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Register',
});
</script>

<style scoped lang="scss">

</style>
