<template>
  <ul class="list-type-interest">
    <li
        v-for="(interes, key) in intereses"
        :key="key"
        v-html="interes"
    />
  </ul>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ProfileListIntereses',
  props: {
    intereses: Array,
  },
});
</script>
