<template>
  <div class="box-image-wrap">
    <div class="box-image-scroll">
      <a v-for="(img, key) in gallery" :key="key" class="one-img">
        <img :src="img.src" :alt="img.alt" class="object-fit">
      </a>
    </div>
  </div>
</template>

<script>

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ProfileGallery',
  props: {
    gallery: Array,
  },
});
</script>

<style lang="scss" scoped>
.box-image-scroll{
  width: 100vw;
  padding: 15px 21px;
  overflow: auto;
  display: flex;
  white-space: nowrap;

  .one-img{
    width: 130px;
    height: 130px;
    margin-right: 10px;
    flex-shrink: 0;
    box-shadow: 2px 4px 8px rgba(0, 84, 89, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(60, 60, 67, 0.3);
  }
}
</style>
