<template>
  <Header>
    <div class="navigation-buttons style2">
      <a class="one-nav style2">
        <span class="box-icon flex-full-center">
          <i class="icon-like"></i>
        </span>
      </a>
      <a class="one-nav style2">
        <span class="box-icon flex-full-center long">
          <i class="icon-star"></i> <span>4,5</span>
        </span>
      </a>
      <a class="one-nav style2">
        <span class="box-icon flex-full-center">
          <i class="icon-qr"></i>
        </span>
      </a>
      <a class="one-nav style2">
        <span class="box-icon flex-full-center">
          <i class="icon-setting"></i>
        </span>
      </a>
    </div>
  </Header>

  <div class="main-content">
    <div class="profile-page">
      <div class="top-profile">
        <img :src="profile.avatar" :alt="profile.name" class="object-fit">
        <div class="text-inform">
          <div v-if="profile.name" class="name">
            {{ profile.name }} <span v-if="profile.age" class="old">{{ profile.age }}</span>
          </div>
          <div v-if="profile.work" class="info-static">
            <span>Место работы:</span> {{ profile.work }}
          </div>
          <div v-if="profile.education" class="info-static">
            <span>Образование:</span> {{ profile.education }}
          </div>
        </div>
      </div>

      <ProfileGallery :gallery="gallery" />

      <ProfileListIntereses :intereses="intereses" />

      <ul class="list-type-interest">
        <li>
          <a @click.prevent="openIntereses">Все интересы</a>
        </li>
        <li>
          <a @click.prevent="openIntereses(true)">
            <i class="icon-lock-close brand-bg"></i>Скрытые
          </a>
        </li>
      </ul>

      <div class="text-profile" v-html="description" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import Header from '@/components/header/Header.vue';
import ProfileGallery from './components/main/ProfileGallery.vue';
import ProfileListIntereses from './components/main/ProfileListIntereses.vue';

import mock from './mock';

export default defineComponent({
  name: 'Profile',
  components: { Header, ProfileGallery, ProfileListIntereses },
  setup() {
    const profile = ref(mock.profile);
    const description = ref(mock.description);
    const intereses = ref(mock.intereses);
    const gallery = ref(mock.gallery);

    return {
      profile,
      description,
      intereses,
      gallery,
    };
  },
  methods: {
    openIntereses(isHidden = false) {
      console.log(isHidden);
    },
  },
});
</script>
