<template>
  <div class="wrapper-social">
    <a class="social-big-btn" @click="auth(socials.GOOGLE)">
      <GoogleIcon />
      <span>Войти через Google</span>
    </a>
    <a class="social-big-btn" @click="auth(socials.VK)">
      <VkIcon />
      <span>Войти через VK</span>
    </a>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import GoogleIcon from '@/pages/login/components/GoogleIcon.vue';
import VkIcon from '@/pages/login/components/VkIcon.vue';

enum socials {
  VK = 'vk',
  GOOGLE = 'google',
}

export default defineComponent({
  name: 'SocialAuth',
  components: { GoogleIcon, VkIcon },
  data() {
    return {
      socials,
    };
  },
  methods: {
    auth(social) {
      console.log(social);
    },
  },
});
</script>

<style lang="scss" scoped>
.wrapper-social {
  margin-bottom: 20px;
}

.social-big-btn {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  padding: 12px;
  box-shadow: 2px 4px 18px rgba(0, 84, 89, 0.08);
  border-radius: 15px;
  border: 1px solid rgba(229, 229, 229, 0.5);
  background-color: #ffffff;
  color: #00445e;
  font-weight: 700;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  svg {
    margin-right: 8px;
    flex-shrink: 0;
  }

  span {
    transform: translateY(2px);
  }

  &:hover {
    color: #00445e;
  }
}
</style>
