<template>
  <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M13 26C20.1797 26 26 20.1797 26 13C26 5.8203 20.1797 0 13 0C5.8203 0 0 5.8203 0 13C0 20.1797 5.8203
      26 13 26Z" fill="#4D76A1"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5089 18.7016H13.5293C13.5293 18.7016 13.8375 18.6678
      13.9948 18.4982C14.1397 18.3424 14.135 18.05 14.135 18.05C14.135 18.05 14.1151 16.6809 14.7505 16.4793C15.3769
      16.2807 16.1813 17.8025 17.0338 18.3876C17.6785 18.8305 18.1684 18.7334 18.1684 18.7334L20.448 18.7016C20.448
      18.7016 21.6405 18.6282 21.0751 17.6905C21.0287 17.6138 20.7458 16.997 19.3802 15.7294C17.9508 14.4027 18.1422
      14.6172 19.864 12.3224C20.9126 10.9247 21.3319 10.0715 21.2009 9.70604C21.076 9.35797 20.3048 9.44997 20.3048
      9.44997L17.7381 9.46596C17.7381 9.46596 17.5478 9.44 17.4067 9.52436C17.2688 9.60709 17.18 9.79989 17.18
      9.79989C17.18 9.79989 16.7738 10.8814 16.232 11.8012C15.0891 13.742 14.6321 13.8444 14.4453 13.7239C14.0108
      13.443 14.1193 12.5956 14.1193 11.9935C14.1193 10.1127 14.4045 9.32854 13.5638 9.12554C13.2848 9.0581 13.0795
      9.01361 12.3659 9.00642C11.4501 8.99692 10.6749 9.00921 10.236 9.22426C9.94405 9.36724 9.7188 9.68588 9.85599
      9.70419C10.0256 9.7269 10.4098 9.80777 10.6135 10.0852C10.8766 10.443 10.8673 11.2466 10.8673 11.2466C10.8673
      11.2466 11.0184 13.4606 10.5144 13.7357C10.1684 13.9244 9.69377 13.5392 8.67482 11.7785C8.15272 10.8765 7.75853
      9.87961 7.75853 9.87961C7.75853 9.87961 7.68252 9.69329 7.54696 9.59365C7.38242 9.47291 7.15254 9.43444 7.15254
      9.43444L4.7135 9.45043C4.7135 9.45043 4.34736 9.46063 4.21295 9.61983C4.09338 9.76142 4.20345 10.0543 4.20345
      10.0543C4.20345 10.0543 6.11297 14.5218 8.27508 16.7731C10.2576 18.8372 12.5089 18.7016 12.5089
      18.7016Z" fill="white"/>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'VkIcon',
});
</script>
