header {
  position: sticky;
  top: 0;
  padding: 5px 21px;
  border-bottom: 1px solid #CACACA;
  flex: 0 0 auto;
  z-index: 30;
  background-color: var(--muted);

  .inside-header {
    display: flex;
    justify-content: space-between;

    .navigation-buttons {
      flex-shrink: 0;
      display: flex;

      &.style2 {
        width: 100%;
        justify-content: flex-end;
      }

      .one-nav {
        display: inline-flex;
        margin-left: 10px;
        color: var(--black);
        font-weight: 700;
        text-align: center;
        font-size: 12px;
        position: relative;
        @media (max-width: $xs) {
          margin-left: 5px;
        }

        .box-icon {
          display: inline-flex;
          align-items: center;
          padding-left: 11px;
          padding-right: 11px;
          min-width: 50px;
          height: 50px;
          font-size: 20px;
          box-shadow: 2px 4px 18px rgba(0, 84, 89, 0.08);
          border-radius: 15px;
          border: 1px solid rgba(229, 229, 229, 0.5);
          background-color: #ffffff;
          position: relative;

          &.long {
            min-width: 100px;
          }

          @media (max-width: $xs) {
            padding-left: 8px;
            padding-right: 8px;
            min-width: 44px;
            height: 44px;
            &.long {
              min-width: 88px;
            }
          }

          span {
            transform: translateY(2px);
            margin-left: 5px;
          }
        }

        &.new {
          .box-icon:after {
            width: 8px;
            height: 8px;
            bottom: 2px;
            right: -2px;
            position: absolute;
            z-index: 2;
            content: '';
            display: block;
            border-radius: 50%;
            border: 1px solid #ffffff;
            background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
          }
        }

        &.active {
          .caption, i {
            background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &.style2 {
          .box-icon {
            font-size: 15px;
            color: var(--black);
            font-weight: 700;

            i {
              font-size: 25px;
              background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .btn-header-shrink {
      margin: 10px 0;
      flex-shrink: 0;
    }
  }

  h1 {
    width: 100%;
    padding-top: 8px;
    overflow: hidden;
    line-height: inherit;
    text-overflow: ellipsis;
  }
}