footer {
  padding: 0 13px 13px;
  flex: 0 0 auto;
  z-index: 20;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-sidebar {
  height: 55px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 23px;
  line-height: 0;
  border-radius: 20px;
  border: 1px solid rgba(60, 60, 67, 0.3);
  background-color: rgb(251, 251, 251);

  & > * {
    padding: 10px;

    &[aria-selected="true"] {
      background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    i.icon-number {
      font-size: 30px;
    }
  }
}