<template>
  <header>
    <div class="inside-header align-center">
      <a class="link-back" @click.prevent="$router.back()">&lt; Назад</a>

      <slot />
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HeaderWithBackBtn',
});
</script>
