<template>
  <header>
    <div class="inside-header">
      <div v-if="title" class="with-ico-h1">
        <h1>{{ title }}</h1>
      </div>
      <slot />
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Header',
  props: {
    title: String,
  },
});
</script>
