<template>
  <footer>
    <div class="main-sidebar">
      <router-link
        v-for="{ name, icon } in routes"
        :key="name"
        class="navigation-btn"
        :aria-selected="$route.name === name ? 'true' : 'false'"
        :to="{ name }"
      >
        <i :class="icon"/>
      </router-link>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { eventsNamesRoutes } from '@/router/events/types';
import { messagesNamesRoutes } from '@/router/messages/types';
import { notificationsNamesRoutes } from '@/router/notifications/types';
import { calendarNamesRoutes } from '@/router/calendar/types';
import { profileNamesRoutes } from '@/router/profile/types';

type route = {
  icon: string,
  name: string,
}

export default defineComponent({
  name: 'Navigator',
  setup() {
    const routes: route[] = [
      { name: messagesNamesRoutes.MESSAGES, icon: 'icon-comment' },
      { name: notificationsNamesRoutes.NOTIFICATIONS, icon: 'icon-bell' },
      { name: calendarNamesRoutes.CALENDAR, icon: 'icon-number' },
      { name: eventsNamesRoutes.EVENTS, icon: 'icon-bolt' },
      { name: profileNamesRoutes.PROFILE, icon: 'icon-user' },
    ];

    return { routes };
  },
});
</script>
