<template>
  <div class="custom-input">
    <input
      :type="type"
      class="placeholder-light"
      :placeholder="placeholder"
      v-model="model"
    >
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'TextField',
  props: {
    value: String,
    placeholder: String,
    type: {
      type: String,
      default: 'text',
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
  },
});
</script>

<style scoped lang="scss">
.custom-input {
  position: relative;

  input {
    width: 100%;
    height: 40px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
    color: var(--lightBlack);
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #d7d7d7;
    background-color: #f7f9fa;
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    appearance: none;
    outline: none;

    &::placeholder {
      user-select: none;
    }
  }

  &.search-input {
    input {
      padding-right: 50px;
    }

    .search-btn {
      width: 50px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      background-color: transparent;
      border: 0;
      font-size: 18px;
    }
  }

  &.error {
    input {
      border: 1px solid #FF0000;
      background-color: var(--red20);
    }
  }
}
</style>
