<template>
  <div class="app-wrap">
    <main>
      <router-view />
    </main>

    <Navigator v-if="isAuth" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Navigator from '@/components/Navigator.vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  name: 'App',
  components: { Navigator },
  computed: {
    ...mapGetters(['isAuth']),
  },
});
</script>
