:root {
  --black: #2d2d2d;
  --lightBlack: #454545;
  --gray: #a9a9a9;
  --yellow: #ffc700;
  --green: #00ae11;
  --red: #ff2626;
  --red50: rgba(255, 38, 38, 0.5);
  --red20: rgba(255, 38, 38, 0.2);
  --muted: rgba(250, 250, 250, 0.9);
}

$xs: 370px;

.black-gradient {
  background: linear-gradient(180deg, #505050 0%, #737373 100%);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-width: 300px;
  min-height: 100%;
  line-height: 1.3;
  font-size: 15px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: white;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--black);
  transition: 0.3s;

  &:hover, &:focus {
    color: var(--black);
  }
}

a, button {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a.link-underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

input:focus, textarea:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

a:focus, button:focus {
  outline: none !important;
}

b {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

* html .page-wrapper {
  height: 100%;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

input.placeholder-light::-webkit-input-placeholder, textarea.placeholder-light::-webkit-input-placeholder {
  color: var(--lightBlack);
  font-weight: 300;
}

input.placeholder-light::-moz-placeholder, textarea.placeholder-light::-moz-placeholder {
  color: var(--lightBlack);
  font-weight: 300;
}

input.placeholder-light:-ms-input-placeholder, textarea.placeholder-light:-ms-input-placeholder {
  color: var(--lightBlack);
  font-weight: 300;
}

input:disabled::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input.placeholder-light:disabled:-ms-input-placeholder, textarea.placeholder-light:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.custom-radio {
  padding: 1px 0 0 27px;
  font-size: 15px;
  font-weight: 700;
  user-select: none;
  position: relative;

  span {
    &:before, &:after {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      display: block;
      border-radius: 50%;
      box-sizing: border-box;
    }

    &:before {
      background: var(--muted);
      border: 1px solid #D7D7D7;
      z-index: 1;
    }

    &:after {
      z-index: 2;
      opacity: 0;
      background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
    }
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    visibility: hidden;

    &:checked + span {
      &:after {
        opacity: 1;
      }
    }
  }
}

.brand-bg {
  background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flex-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-textarea {
  position: relative;

  textarea {
    width: 100%;
    height: 110px;
    padding: 21px;
    resize: none;
    border-radius: 10px;
    color: var(--lightBlack);
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #d7d7d7;
    background-color: #f7f9fa;
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    appearance: none;
    outline: none;

    &.height-68 {
      height: 68px;
    }
  }

  &.error {
    textarea {
      border: 1px solid #FF0000;
      background-color: var(--red20);
    }
  }
}

.btn-go {
  user-select: none;
  height: 40px;
  padding: 2px 25px;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(264.53deg, #FF4789 -17.36%, #FF7134 100%);
  font-weight: 700;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid transparent;

  &:hover {
    color: white;
  }

  &.big {
    padding: 2px 46px;
  }
}

.dark-btn {
  height: 40px;
  padding: 3px 25px;
  font-weight: 500;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
  user-select: none;
  background: linear-gradient(264.53deg, #FF4789 -17.36%, #FF7134 100%);

  i {
    &:nth-child(1) {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.height-30 {
    height: 30px;
    line-height: 10px;
    font-size: 12px;

    &.only-ico {
      padding: 2px 5px;
      font-size: 18px;
    }
  }

  &.big {
    height: 40px;
    padding: 3px 20px;
  }

  &:hover, &:focus {
    color: #ffffff;
    background: linear-gradient(264.53deg, #FF4789 -17.36%, #FF7134 100%);
  }

  &.height-40 {
    width: 100%;
    height: 40px;
    border-radius: 50px;
  }

  &.round {
    height: 38px;
    padding: 3px 14px;
    border-radius: 50px;
  }
}

.light-btn {
  user-select: none;
  height: 35px;
  padding: 2px 15px;
  font-size: 15px;
  color: var(--black);
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  border-radius: 6px;
  background-color: var(--muted);

  &.big {
    height: 32px;
    padding: 2px 25px;
  }

  i {
    font-size: 18px;
  }
}

.btn-light-2 {
  user-select: none;
  height: 40px;
  padding: 3px 15px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  color: var(--black);
  justify-content: center;
  box-shadow: 2px 4px 18px rgba(0, 84, 89, 0.08);
  border-radius: 10px;
  border: 1px solid rgba(229, 229, 229, 0.5);
  background-color: #ffffff;
}

.border-dark-btn {
  user-select: none;
  height: 30px;
  padding: 2px 5px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #2D2D2D;

  &.height-30 {
    height: 30px;
    padding: 2px 10px;
    line-height: 10px;
    font-size: 12px;
  }
}

.ui-widget.ui-widget-content {
  border: 0 !important;
}

.custom-modal {
  width: 100%;
  max-width: 328px;
  padding: 0;
  display: none;

  .caption {
    min-height: 57px;
    padding: 19px 64px 18px 20px;
    border-bottom: 1px solid #CACACA;
    font-weight: 500;
    color: var(--black);
    font-size: 15px;
  }

  .inside-modal {
    padding: 20px 20px 50px;
  }
}

.modal-info {
  width: 100%;
  max-width: 270px;
  padding: 0;
  display: none;
  border-radius: 14px;
  border: 1px solid rgba(60, 60, 67, 0.3);
  background-color: rgba(255, 255, 255, 0.8);

  .fancybox-button {
    display: none;
  }

  .top-info {
    padding: 20px 15px;
    border-bottom: 1px solid rgba(60, 60, 67, 0.36);
    color: var(--lightBlack);
    font-size: 15px;
    text-align: center;
    line-height: 16px;
    font-weight: 400;
  }

  .bottom-info {
    display: flex;

    &.two-box {
      .btn-in {
        width: 50%;
        border-right: 1px solid rgba(60, 60, 67, 0.36);

        &:last-child {
          border-right: 0;
        }
      }
    }

    .btn-in {
      width: 100%;
      height: 44px;
      padding: 5px;
      color: var(--black);
      font-size: 15px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;

      &.bold {
        font-weight: 900;
      }
    }
  }
}

.fancybox-slide--html .fancybox-close-small {
  right: 15px;
  top: 13px;
  border: 1px solid #2D2D2D;
  border-radius: 50%;
  width: 34px;
  height: 30px;
  padding: 4px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.under-h1 {
  max-width: 290px;
  margin: 0 auto 20px;
  font-size: 15px;
  color: var(--gray);
  font-weight: 400;
}

.max-width-275 {
  max-width: 275px;
}

.wrapper-rating {
  .rating {
    border: none;
    float: left;
  }

  .rating > input {
    display: none;
  }

  .rating > label:before {
    margin: 3px;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    display: inline-block;
    content: "\e96c";
  }

  .rating > .half:before {
    content: "\e96b";
    position: absolute;
  }

  .rating > label {
    color: #f1f1f1;
    float: right;
  }

  /***** CSS Magic to Highlight Stars on Hover *****/

  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label {
    color: #FD5960;
  }

  /* hover previous stars in list */

  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label {
    background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
    color: #FD5960;
  }


  &.give-your-goal {
    margin: 15px 0 36px;
    justify-content: center;

    &:before {
      display: none;
    }

    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
      color: #FD5960;
      background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    /* hover previous stars in list */
    .rating {
      & > label:before {
        font-size: 32px;
      }
    }

    &.big {
      .rating {
        & > label:before {
          font-size: 45px;
        }
      }
    }
  }
}

.btn-border {
  border-bottom: 1px solid;
}

.btn-circle-ico {
  user-select: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover {
    color: white;
  }
}

.text-light-m {
  max-width: 240px;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  color: #d7d7d7;
  font-weight: 400;
}

.align-center {
  align-items: center;
}
