@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon/fonts/icomoon.ttf') format('truetype'),
        url('../assets/fonts/icomoon/fonts/icomoon.woff') format('woff'),
        url('../assets/fonts/icomoon/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-case2:before {
  content: "\e96e";
}

.icon-info-2:before {
  content: "\e96f";
}

.icon-people2:before {
  content: "\e970";
}

.icon-Vector:before {
  content: "\e96d";
}

.icon-star-rating-big:before {
  content: "\e96c";
}

.icon-star-rating-half:before {
  content: "\e96b";
}

.icon-ico-service-1:before {
  content: "\e92c";
}

.icon-ico-service-2:before {
  content: "\e92d";
}

.icon-ico-service-3:before {
  content: "\e92e";
}

.icon-ico-service-4:before {
  content: "\e92f";
}

.icon-ico-service-5:before {
  content: "\e930";
}

.icon-ico-service-6:before {
  content: "\e931";
}

.icon-ico-service-7:before {
  content: "\e932";
}

.icon-ico-service-8:before {
  content: "\e933";
}

.icon-ico-service-9:before {
  content: "\e934";
}

.icon-ico-service-10:before {
  content: "\e935";
}

.icon-ico-service-11:before {
  content: "\e936";
}

.icon-ico-service-12:before {
  content: "\e937";
}

.icon-ico-service-13:before {
  content: "\e938";
}

.icon-ico-service-14:before {
  content: "\e939";
}

.icon-ico-service-15:before {
  content: "\e93a";
}

.icon-ico-service-16:before {
  content: "\e93b";
}

.icon-ico-service-17:before {
  content: "\e93c";
}

.icon-ico-service-18:before {
  content: "\e93d";
}

.icon-ico-service-19:before {
  content: "\e93e";
}

.icon-ico-service-20:before {
  content: "\e93f";
}

.icon-ico-service-21:before {
  content: "\e940";
}

.icon-ico-service-22:before {
  content: "\e941";
}

.icon-ico-service-23:before {
  content: "\e942";
}

.icon-ico-service-24:before {
  content: "\e943";
}

.icon-ico-service-25:before {
  content: "\e944";
}

.icon-ico-service-26:before {
  content: "\e945";
}

.icon-ico-service-27:before {
  content: "\e946";
}

.icon-ico-service-28:before {
  content: "\e947";
}

.icon-ico-service-29:before {
  content: "\e948";
}

.icon-ico-service-30:before {
  content: "\e949";
}

.icon-ico-service-31:before {
  content: "\e94a";
}

.icon-ico-service-32:before {
  content: "\e94b";
}

.icon-ico-service-33:before {
  content: "\e94c";
}

.icon-ico-service-34:before {
  content: "\e94d";
}

.icon-ico-service-35:before {
  content: "\e94e";
}

.icon-ico-service-36:before {
  content: "\e94f";
}

.icon-ico-service-37:before {
  content: "\e950";
}

.icon-ico-service-38:before {
  content: "\e951";
}

.icon-ico-service-39:before {
  content: "\e952";
}

.icon-ico-service-40:before {
  content: "\e953";
}

.icon-ico-service-41:before {
  content: "\e954";
}

.icon-ico-service-42:before {
  content: "\e955";
}

.icon-ico-service-43:before {
  content: "\e956";
}

.icon-ico-service-44:before {
  content: "\e957";
}

.icon-ico-service-45:before {
  content: "\e958";
}

.icon-ico-service-46:before {
  content: "\e959";
}

.icon-ico-service-47:before {
  content: "\e95a";
}

.icon-ico-service-48:before {
  content: "\e95b";
}

.icon-ico-service-49:before {
  content: "\e95c";
}

.icon-ico-service-50:before {
  content: "\e95d";
}

.icon-ico-service-51:before {
  content: "\e95e";
}

.icon-ico-service-52:before {
  content: "\e95f";
}

.icon-ico-service-53:before {
  content: "\e960";
}

.icon-ico-service-54:before {
  content: "\e961";
}

.icon-ico-service-55:before {
  content: "\e962";
}

.icon-ico-service-56:before {
  content: "\e963";
}

.icon-ico-service-57:before {
  content: "\e964";
}

.icon-ico-service-58:before {
  content: "\e965";
}

.icon-ico-service-59:before {
  content: "\e966";
}

.icon-ico-service-60:before {
  content: "\e967";
}

.icon-ico-service-61:before {
  content: "\e968";
}

.icon-lock-close:before {
  content: "\e969";
}

.icon-lock:before {
  content: "\e96a";
}

.icon-like:before {
  content: "\e92b";
}

.icon-basket:before {
  content: "\e900";
}

.icon-pen:before {
  content: "\e901";
}

.icon-star:before {
  content: "\e902";
}

.icon-font-letter:before {
  content: "\e903";
}

.icon-hashtag:before {
  content: "\e904";
}

.icon-text-decoration:before {
  content: "\e905";
}

.icon-cart:before {
  content: "\e906";
}

.icon-man-circle:before {
  content: "\e907";
}

.icon-text-style:before {
  content: "\e908";
}

.icon-book:before {
  content: "\e909";
}

.icon-ballon:before {
  content: "\e90a";
}

.icon-image:before {
  content: "\e90b";
}

.icon-random:before {
  content: "\e90c";
}

.icon-arrow-dark:before {
  content: "\e90d";
}

.icon-check-round:before {
  content: "\e90e";
}

.icon-smile:before {
  content: "\e90f";
}

.icon-mark-arrow:before {
  content: "\e910";
}

.icon-plus-round:before {
  content: "\e911";
}

.icon-arrow-light:before {
  content: "\e912";
}

.icon-setting:before {
  content: "\e913";
}

.icon-qr:before {
  content: "\e914";
}

.icon-close:before {
  content: "\e915";
}

.icon-calendar-light:before {
  content: "\e916";
}

.icon-inform:before {
  content: "\e917";
}

.icon-add-plus:before {
  content: "\e918";
}

.icon-search:before {
  content: "\e919";
}

.icon-case:before {
  content: "\e91a";
}

.icon-people:before {
  content: "\e91b";
}

.icon-man:before {
  content: "\e91c";
}

.icon-party:before {
  content: "\e91d";
}

.icon-user:before {
  content: "\e91e";
}

.icon-bolt:before {
  content: "\e91f";
}

.icon-number:before {
  content: "\e920";
}

.icon-bell:before {
  content: "\e921";
}

.icon-comment:before {
  content: "\e922";
}

.icon-check-mark:before {
  content: "\e923";
}

.icon-message:before {
  content: "\e924";
}

.icon-space:before {
  content: "\e925";
}

.icon-layers:before {
  content: "\e926";
}

.icon-time:before {
  content: "\e927";
}

.icon-calendar:before {
  content: "\e928";
}

.icon-mark:before {
  content: "\e929";
}

.icon-wallet:before {
  content: "\e92a";
}
