@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "icons";
@import "reset";
@import "base";

@import "layout/header";
@import "layout/navigator";

.app-wrap {
  flex-grow: 1;
  min-height: 100vh;

  main {
    padding-bottom: 70px;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.text-eclipses {
  width: 100%;
  padding-right: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content {
  margin-bottom: -10px;
  padding: 20px 21px 40px;
  flex: 1 0;
  overflow: auto;
}

.chat-list-private {
  margin-right: -21px;

  .one-chat-friend {
    display: flex;
    padding: 20px 21px 20px 0;
    border-bottom: 1px solid #cacaca;

    .box-group-img {
      width: 48px;
      height: 48px;
      margin-right: 13px;
      flex-shrink: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2px;

      .one-img {
        width: 23px;
        height: 23px;
        line-height: 0;

        &:nth-child(1) {
          border-right: 1px solid #cacaca;
          border-bottom: 1px solid #cacaca;

          img {
            border-top: 1px solid #cacaca;
            border-radius: 100px 0 0 0;
          }
        }

        &:nth-child(2) {
          border-left: 1px solid #cacaca;
          border-bottom: 1px solid #cacaca;

          img {
            border-right: 1px solid #cacaca;
            border-radius: 0 100px 0 0;
          }
        }

        &:nth-child(3) {
          border-right: 1px solid #cacaca;
          border-top: 1px solid #cacaca;

          img {
            border-left: 1px solid #cacaca;
            border-radius: 0 0 0 100px;
          }
        }

        &:nth-child(4) {
          border-left: 1px solid #cacaca;
          border-top: 1px solid #cacaca;

          img {
            border-right: 1px solid #cacaca;
            border-radius: 0 0 100px 0;
          }
        }
      }
    }

    .box-img {
      width: 48px;
      height: 48px;
      margin-right: 13px;
      flex-shrink: 0;
      line-height: 0;
      position: relative;

      img {
        border-radius: 50%;
        border: 1px solid #cacaca;
      }
    }

    .text-inform {
      width: 100%;

      .top-text {
        font-size: 15px;
        display: flex;

        .name {
          width: 100%;
          padding-bottom: 3px;
          font-weight: 700;
          padding-right: 10px;

          .author {
            margin-right: 5px;
          }
        }

        .new-message {
          padding: 2px 6px;
          font-size: 12px;
          color: #ffffff;
          font-weight: 700;
          border-radius: 15px;
          background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
        }

        .date-time {
          flex-shrink: 0;
          display: inline-flex;
          align-items: center;
          color: var(--gray);
          font-weight: 400;

          i {
            margin-left: 5px;
            position: relative;
            display: inline-block;
            font-size: 10px;
            transform: rotate(180deg);
          }
        }
      }

      .bottom-text {
        font-size: 15px;
        color: var(--gray);
        font-weight: 400;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &.no-read {
      .text-inform {
        color: var(--lightBlack);
      }
    }

    &.active {
      .box-img:before {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 2px;
        bottom: 3px;
        z-index: 2;
        content: '';
        display: block;
        border-radius: 50%;
        border: 1px solid #ffffff;
        background-color: #65b168;
      }
    }

    &.type-choose-1 {
      .text-inform .top-text .name {
        color: #00445e;
      }
    }
  }
}

.events-search-top {
  margin-bottom: 20px;
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  p {
    width: 100%;
    padding-right: 20px;
    color: var(--gray);
    font-size: 15px;
    font-weight: 400;

    &:last-child {
      padding-right: 0;
      padding-left: 20px;
    }
  }
}

.wrapper-b-e {
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
  flex-shrink: 0;
}

.buttons-e {
  padding: 0 11px;
  background-color: #fff4f8;
  border-radius: 50px;
  line-height: 0;
  display: flex;
  overflow: hidden;
  position: relative;

  &:before {
    width: 1px;
    top: 7px;
    bottom: 7px;
    left: 50%;
    position: absolute;
    content: '';
    display: block;
    background-color: #FD5960;
  }

  .one-b {
    width: 50%;
    padding: 10px 13px;
    font-size: 18px;

    &.like-ico {
      padding: 8px 13px;
    }
  }

  &.one-btn-style {
    padding: 0 2px;

    &:before {
      display: none;
    }
  }
}

.one-events {
  min-height: 110px;
  background-color: #ffffff;
  display: flex;
  position: relative;

  .box-img {
    width: 80px;
    flex-shrink: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .box-description {
    width: 100%;
    padding: 21px 95px 17px 21px;

    .caption {
      margin-bottom: 6px;
      font-weight: 900;
      font-size: 15px;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .text-description {
      margin-bottom: 15px;
      font-size: 15px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .city {
      margin-bottom: 10px;
      color: var(--lightBlack);
      font-size: 12px;
    }

    .time-date {
      margin-bottom: 20px;
      font-size: 12px;
      color: var(--lightBlack);
      display: flex;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .name-author {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 900;

      .old {
        font-weight: 400;
      }
    }
  }

  .line-go-btn {
    display: flex;
    align-items: center;

    .user-list-btn {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: $xs) {
      flex-wrap: wrap;
      .user-list-btn {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .btn-go, .dark-btn, .delete-btn {
      margin-right: 20px;
      flex-shrink: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .delete-btn {
      font-size: 18px;
    }
  }

  .my-event-people {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .caption-line {
      margin-bottom: 5px;
      color: var(--black);
      font-weight: 700;
      font-size: 12px;
    }
  }

  .text-cr-e {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--lightBlack);
    font-weight: 500;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .price-from {
    margin-bottom: 10px;
    color: var(--lightBlack);

    b {
      font-weight: 700;
    }
  }

  .wrapper-rating {
    margin-bottom: 5px;
    overflow: hidden;
  }
}

.btn-over-event {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding-bottom: 2px;

  a {
    width: 46px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 6px;
    display: flex;
    border: 1px solid #cacaca;
    align-items: center;
    font-size: 22px;
    background-color: rgba(228, 227, 227, 1);
    border-radius: 20px 0 0 20px;

    i {
      background: linear-gradient(180deg, #505050 0%, #737373 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &.icon-like {
        font-size: 16px;
        padding: 2px 0 0 1px;
      }
    }

    &.info-event-btn, &.active {
      i {
        background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.events-list {
  & > .one-events {
    margin-bottom: 12px;
    box-shadow: 2px 4px 15px rgba(0, 84, 89, 0.1);
    border: 1px solid rgba(60, 60, 67, 0.1);
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .box-img {
      img {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  & > .my-events {
    margin-bottom: 12px;
    box-shadow: 2px 4px 15px rgba(0, 84, 89, 0.1);
    border: 1px solid rgba(60, 60, 67, 0.1);
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .one-events-new {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .top-part {
      margin-bottom: 4px;
      box-shadow: 2px 8px 20px 0 rgba(73, 108, 119, 0.12);
      border-radius: 20px 20px 5px 5px;
      overflow: hidden;
    }

    .box-text {
      padding: 18px 16px;
    }

    .bottom-part {
      display: flex;

      .btn-light-2 {
        margin-right: 4px;
      }

      .dark-btn, .btn-light-2 {
        width: 100%;
        height: 45px;
      }

      .info-event-btn {
        width: 60px;
        height: 45px;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        font-size: 22px;
        box-shadow: 2px 8px 20px 0 rgba(73, 108, 119, 0.12);
        border-radius: 5px 5px 5px 5px;
        margin-right: 4px;
        @media (max-width: $xs) {
          width: 45px;
        }

        &:first-child {
          border-radius: 5px 5px 5px 20px;
        }

        &:last-child {
          margin-left: 4px;
          margin-right: 0;
          border-radius: 5px 5px 20px 5px;
        }

        .icon-inform {
          background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .icon-like {
          background: linear-gradient(180deg, #505050 0%, #737373 100%);
          -webkit-background-clip: text;
          font-size: 17px;
          -webkit-text-fill-color: transparent;
        }
      }

      .info-event-btn.active {
        i {
          background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .text-cr-e {
    padding-top: 5px;
    color: var(--lightBlack);
    line-height: 17px;
  }

  .box-image {
    height: 180px;
    border-radius: 20px 20px 5px 5px;
    line-height: 0;
    position: relative;

    .price {
      padding: 15px 20px;
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      line-height: 17px;
      color: white;

      &:before {
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        display: block;
        z-index: -1;
        content: '';
        border-radius: 20px 20px 5px 5px;
        background: rgba(184, 184, 184, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
      }

      b {
        font-weight: 700;
      }
    }

    .box-info-b {
      position: absolute;
      bottom: 10px;
      left: 24px;
      right: 10px;
      z-index: 3;
      display: flex;
      justify-content: space-between;

      .name-author {
        font-size: 20px;
        line-height: 23px;
        color: white;
      }

      .left-text {
        font-size: 12px;
        color: white;
        line-height: 14px;

        div {
          margin-bottom: 2px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .user-list-btn .user-btn {
      a {
        &:before, &:after {
          border: 1px solid #ffffff;
        }
      }
    }
  }
}

.my-events {
  .one-events {
    border-top: 1px solid rgba(60, 60, 67, 0.1);
    border-bottom: 1px solid rgba(60, 60, 67, 0.1);

    .box-description {
      padding: 21px 115px 17px 21px;
    }

    .box-img {
      width: 100px;

      .btn-over-event {
        top: 10px;
        bottom: initial;
      }
    }
  }

  .top-my-events {
    padding: 15px 21px;
    font-size: 15px;
    font-weight: 400;
    color: var(--lightBlack);

    p {
      margin-bottom: 18px;
      -webkit-line-clamp: 5;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .bottom-my-events {
    padding: 18px 22px;
    display: flex;
    justify-content: space-between;
  }
}

.user-list-btn {
  display: flex;

  li {
    flex-shrink: 0;
    margin-left: -5px;
    position: relative;

    &:nth-child(1) {
      z-index: 1;
    }

    &:nth-child(2) {
      z-index: 2;
    }

    &:nth-child(3) {
      z-index: 4;
    }

    &:nth-child(4) {
      z-index: 4;
    }
  }

  .user-btn {
    a {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      display: block;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 50%;
        content: '';
        border: 1px solid #d7d7d7;
      }

      &:after {
        width: 120%;
        height: 120%;
        top: -10%;
        right: -100%;
        position: absolute;
        content: '';
        z-index: 2;
        background-color: #ffffff;
        border: 1px solid #d7d7d7;
        display: block;
        border-radius: 50%;
      }

      img {
        border-right: 4px solid white;
      }
    }

    &:last-child {
      a {
        &:after {
          display: none;
        }

        img {
          border-right: 0;
        }
      }
    }
  }

  .all-users a {
    width: 30px;
    height: 30px;
    color: var(--black);
    font-size: 12px;
    border-radius: 20px;
    padding: 1px;
    display: block;
    line-height: 0;
    background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);

    span {
      height: 100%;
      width: 100%;
      background: #FFE9F1;
      border-radius: 50%;
    }
  }
}

.one-application-wrapper {
  margin: -10px 0 0;
}

.one-application {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CACACA;

  .box-img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    @media (max-width: $xs) {
      width: 38px;
      height: 38px;
    }
  }

  .name {
    width: 100%;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 500;
    @media (max-width: $xs) {
      font-size: 14px;
    }
  }

  .dark-btn, .border-dark-btn {
    margin-right: 6px;
    flex-shrink: 0;
  }
}

.ui-slider-horizontal {
  height: 1px;
  background-color: #cacaca;

  .ui-widget-header {
    background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
  }
}

.ui-slider-horizontal .ui-slider-handle {
  top: -9px;
  margin-left: -9px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);

  &:before {
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    display: block;
    background-color: #FFE9F1;
    content: '';
    border-radius: 50%;
  }
}

.datepicker-style, .datepicker-style2, .calendar-modal {

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    color: #d7d7d7;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    border-radius: 50%;
    @media (max-width: $xs) {
      width: 24px;
      height: 24px;
    }
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: var(--black);
    background: #FFE9F1;
    position: relative;
  }

}

.ui-datepicker-header {
  padding: 13px 0;
  background: transparent;
  border: 0;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
}

.ui-datepicker {
  padding: 2px 24px;
  @media (max-width: $xs) {
    padding: 0;
  }

  th {
    padding: 0 0 17px;
    font-size: 10px;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
  }

  td {
    padding: 5px 0;
  }
}

.ui-datepicker-current-day {
  position: relative;

  &:before {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    left: 0;
    top: 4px;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    z-index: 2;
    border: 0;
    background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
    border-radius: 50%;
    @media (max-width: $xs) {
      width: 26px;
      height: 26px;
    }
  }

  a {
    z-index: 3;
  }
}

.ui-datepicker {
  width: 326px;
  margin: 0 auto;
  @media (max-width: $xs) {
    width: 256px;
  }
}

.ui-datepicker .ui-datepicker-prev:before, .ui-datepicker .ui-datepicker-next:before {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90d";
  background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: relative;
  top: initial;
  width: initial;
  height: initial;
  line-height: 0;
  right: initial !important;
  left: initial !important;
  border: 0 !important;
  background-color: transparent !important;

  span {
    display: none;
  }
}

.ui-datepicker .ui-datepicker-title {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 14px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .ui-datepicker-next {
    order: 2;
    transform: rotate(180deg);
  }
}

.choose-timer-modals {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D2D2D;

  .text {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 700;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

.caption-ico {
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: 700;

  i {
    margin-top: -1px;
    margin-right: 8px;
    font-size: 16px;
  }
}

.modal-input-line {
  display: flex;

  & > * {
    width: 125px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.create-event-page {
  padding: 77px 21px 80px;
  box-shadow: 0 -6px 20px rgba(0, 84, 89, 0.08);
  background-color: #ffffff;
  position: relative;
  margin: 0 23px;
  border-radius: 25px 25px 0 0;

  .steps-number {
    top: 40px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;

    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: #d7d7d7;

      &.active {
        background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
      }
    }
  }

  h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  .close-create-event {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 26px;
  }

  .custom-input.search-input {
    margin: 0 28px 30px;
    @media (max-width: $xs) {
      margin: 0 0 20px;
    }
  }
}

.count-text-c {
  padding-top: 2px;
  color: #d7d7d7;
  text-align: right;
  font-size: 12px;
}

.choose-theme-top-text {
  margin-bottom: 10px;
  color: #d7d7d7;
  font-size: 15px;
}

.create-event-item {
  margin-bottom: 30px;

  .count-text-c {
    margin-bottom: -20px;
  }
}

.hobby-list {
  margin-right: -3px;
  margin-bottom: -3px;
  display: flex;
  flex-wrap: wrap;

  li {
    padding-right: 3px;
    margin-bottom: 3px;
    user-select: none;
    width: 50%;

    .one-hobby-inside {
      display: block;
      width: 100%;
      height: 100%;
    }

    .one-hobby {
      width: 100%;
      height: 81px;
      display: block;
      border-radius: 5px;
      line-height: 0;
      overflow: hidden;
      position: relative;

      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        content: '';
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.609) 80.73%, rgba(0, 0, 0, 0.665) 100%);
      }

      .name {
        padding: 10px;
        position: absolute;
        z-index: 4;
        left: 0;
        right: 0;
        line-height: 1.3;
        bottom: 0;
        font-size: 15px;
        color: #ffffff;
        font-weight: 900;
      }

      input {
        opacity: 0;
        visibility: hidden;
        z-index: -2;
        top: 0;
        left: 0;
        position: absolute;

        &:checked + .one-hobby-inside {
          .name {
            background: linear-gradient(180deg, #EB4E76 0%, #FF6943 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  &.simple-width {
    li {
      width: 33.3%;
      @media (max-width: $xs) {
        width: 50%;
      }

      .one-hobby {
        .name {
          padding: 6px;
          text-align: left;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.1;
        }
      }
    }
  }

  &.block-one {
    li {
      width: 100%;
      margin: 0 0 10px;
      padding-right: 0;
    }
  }
}

.icons-event-btn {
  margin: 0 0 30px;
  display: flex;
  justify-content: center;
  @media (max-width: $xs) {
    margin-bottom: 20px;
  }

  .one-btn-e {
    margin-right: 20px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    .box-img {
      width: 60px;
      height: 60px;
      margin: 0 auto 5px;
      font-size: 24px;
      box-shadow: 2px 4px 18px rgba(0, 84, 89, 0.08);
      border-radius: 15px;
      border: 1px solid rgba(229, 229, 229, 0.5);
      background-color: #ffffff;
      @media (max-width: $xs) {
        width: 50px;
        height: 50px;
        font-size: 21px;
      }
    }

    .name {
      font-weight: 700;
      color: var(--black);
      font-size: 12px;
    }
  }
}

.btn-create-event {
  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .back {
    border-bottom: 1px solid;
  }
}

.show-more-v {
  margin: 40px 0 25px;
}

.btn-wrapper-map {
  padding-top: 20px;
}

.btn-map {
  padding: 10px 24px;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(60, 60, 67, 0.3);
  background: #FAFAFA;
  border-radius: 50px;

  &:before {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: #2D2D2D;
    display: block;
    font-weight: 500;
    font-size: 15px;
    content: '';
  }
}

.company-page {
  padding: 20px 21px;

  .back-btn {
    margin-bottom: 15px;
  }
}

.slider-bottom-company-wrapper {
  margin: 0 -21px;
  padding: 20px 0 30px 21px;

  .one-slide, .one-slide2 {
    width: 130px;
    height: 130px;
    margin-right: 10px;
    flex-shrink: 0;
    display: block;
    box-shadow: 2px 4px 8px rgba(0, 84, 89, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(60, 60, 67, 0.3);

    &.active {
      border: 1px solid rgba(60, 60, 67, 1);
    }
  }
}

.box-big-for-slider {
  height: 204px;
  margin: 15px -21px 0;
}

.company-text-info {
  .caption {
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--black);
    font-weight: 900;
  }

  .description {
    margin-bottom: 25px;
    font-size: 15px;
    color: var(--lightBlack);
    font-weight: 400;
  }

  .caption-ico {
    margin-bottom: 35px;
  }
}

.date-event {
  display: flex;

  .custom-input {
    margin-right: 5px;

    &:nth-child(1) {
      width: 64px;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 92px;
    }
  }

  .date-ico-event {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 20px;
    color: var(--black);
    box-shadow: 0 4px 15px 0 rgba(0, 84, 89, 0.1);
  }
}

.input-style-2 {
  display: flex;

  & > * {
    width: 120px;
    margin-right: 16px;
  }
}

.upload-image-wr {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -5px;

  .one-image {
    width: 80px;
    height: 80px;
    margin: 0 5px 5px 0;
    border-radius: 10px;
    border: 1px solid rgba(60, 60, 67, 0.3);
    overflow: hidden;
    position: relative;
  }

  .change-img, .pen-img {
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
    position: absolute;
    z-index: 2;
  }
}

.choose-img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 30px;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--muted);
  overflow: hidden;
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }

  &.error {
    border: 1px solid #FF0000;
    background-color: var(--red20);
    color: var(--red50);
  }
}

.list-service-ico {
  padding: 50px 0;

  .one-service {
    width: 197px;
    margin: 0 auto 10px;
    user-select: none;
    display: block;

    & > span {
      padding: 7px 15px;
      box-shadow: 2px 4px 15px 0 rgba(0, 84, 89, 0.1);
      border-radius: 20px;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      color: #d7d7d7;
      font-size: 16px;
      font-weight: 700;
    }

    &:last-child {
      margin-bottom: 0;
    }

    i {
      width: 26px;
      height: 27px;
      margin-right: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;

      &.icon-ico-service-32 {
        font-size: 16px;
      }
    }

    .name {
      min-height: 27px;
      padding: 2px;
      display: inline-flex;
      align-items: center;
      line-height: 17px;
    }

    &.closed {
      position: relative;

      .closed-i {
        position: absolute;
        top: 8px;
        padding: 0;
        right: -45px;
        box-shadow: none;
        background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        i {
          font-size: 24px;
        }
      }
    }
  }

  input {
    opacity: 0;
    visibility: hidden;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + span {
      color: var(--lightBlack);

      & + .lock-service {
        i:before {
          content: "\e969";
        }
      }
    }
  }

  &.profile-style {
    padding: 0 0 40px;

    &:last-child {
      padding: 0;
    }

    .one-service {
      width: 256px;
      padding-right: 59px;
      position: relative;

      .lock-service {
        width: 54px;
        height: 100%;
        top: 0;
        right: 0;
        padding: 2px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 40px 40px 0;
        box-shadow: 2px 4px 15px 0 rgba(0, 84, 89, 0.1);
        background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        i {
          width: initial;
          height: initial;
          margin-right: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 24px;
        }
      }

      .service-i {
        width: 197px;
        border-radius: 30px 0 0 30px;
      }
    }
  }
}

.link-back {
  display: inline-block;
  text-decoration: underline;
}

.header-back {
  padding: 10px 0;
}

.list-tabs {
  margin: 0 -21px;
  padding-left: 21px;
  margin-bottom: 14px;
  display: flex;
  overflow: auto;
  padding-bottom: 10px;

  li {
    margin-right: 10px;

    a {
      padding: 6px 10px;
      display: inline-block;
      border: 1px solid #d7d7d7;
      color: #cacaca;
      font-size: 15px;
      font-weight: 400;
      border-radius: 50px;

      &.active {
        border: 1px solid var(--black);
        background-color: var(--black);
        font-weight: 700;
        color: white;
      }
    }
  }
}

.wrapper-rating {
  display: flex;
  align-items: center;
  position: relative;

  &:before {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
  }

  &:after {
    clear: both;
    content: '';
    display: inline-block;
  }

  .number-rating {
    margin-right: 5px;
    color: var(--black);
    font-weight: 500;
    font-size: 15px;
  }

  .rating {

  }
}

.statistic-author {
  line-height: 20px;
  color: var(--gray);
  font-size: 15px;
}

.box-statistic-top {
  margin: -15px -21px 0;
  padding: 0 21px 25px;
  text-align: center;
  border-bottom: 1px solid rgba(60, 60, 67, 0.3);

  .wrapper-rating {
    margin-bottom: 15px;
    justify-content: center;
  }
}

.give-comment {
  margin: 0 -21px;
  padding: 20px 21px 38px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.3);
}

.comment-list-box {
  padding: 38px 0 0;

  .one-comment-bl {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.one-comment-bl {
  font-size: 15px;

  .box-img {
    width: 48px;
    height: 48px;
    margin-bottom: 6px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    border: 1px solid rgba(60, 60, 67, 0.3);
  }

  .name {
    margin-bottom: 4px;
    color: var(--black);
    font-weight: 700;
  }

  .date {
    margin-bottom: 2px;
    color: #d7d7d7;
  }

  p {
    color: var(--lightBlack);
    line-height: 20px;
  }
}

.qr-underline {
  text-align: center;
  color: var(--lightBlack);
  font-size: 15px;
  font-weight: 400;
}

.qr-image {
  padding: 10px 10px 30px;
  text-align: center;
}

.radio-list {
  display: flex;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.delete-account {
  color: var(--red50) !important;
}

.settings-menu {
  margin: -20px -21px 0;

  li {
    border-bottom: 1px solid #d7d7d7;

    a {
      position: relative;
      padding: 19px 50px 19px 21px;
      color: var(--lightBlack);
      display: block;
      font-size: 15px;

      i {
        position: absolute;
        top: 50%;
        margin-top: 1px;
        right: 10px;
        font-size: 28px;
        line-height: 0;
        color: #d7d7d7;
      }
    }
  }
}

.profile-page {
  margin: -20px -21px;

  .top-profile {
    height: 470px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: block;
      z-index: 1;
      box-shadow: 4px 2px 8px rgba(0, 84, 89, 0.1);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.67) 83.07%, rgba(0, 0, 0, 0.9) 100%);
    }

    .text-inform {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 21px;
      color: #ffffff;
      z-index: 2;

      .name {
        margin-bottom: 4px;
        font-size: 25px;

        span {
          font-weight: 400;
        }
      }
    }

    .info-static {
      margin-bottom: 7px;
      font-size: 15px;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    .btn-over-event {
      top: 20px;
      bottom: initial;
    }
  }
}

.box-image-wr-scroll {
  overflow: initial;
}

.fancybox-infobar {
  display: none !important;
}

.gallery-profile {
  padding: 50px 20px;

  .fancybox-slide--image {
    padding: 50px 40px !important;
  }

  .fancybox-close-small {
    width: 32px;
    height: 41px;
    top: -41px;
    right: 0;
    padding: 2px;
    border: 0;
    border-radius: 5px 5px 0 0;
    background-color: #000000;
    color: #d7d7d7;
    font-size: 20px;
  }
}

.profile-page {
  .text-profile {
    padding: 10px 21px;
    font-size: 15px;
    color: var(--lightBlack);
    font-weight: 400;
    line-height: 18px;

    p, ul {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.list-type-interest {
  padding: 5px 21px 10px;
  display: flex;
  white-space: nowrap;
  overflow: auto;

  li {
    margin-right: 10px;
    flex-shrink: 0;
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
    color: var(--black);
    display: flex;
    align-items: center;
    font-weight: 700;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 2px 4px 15px 0 rgba(0, 84, 89, 0.1);

    .icon-lock-close {
      font-size: 24px;
    }

    i {
      margin-right: 10px;
      font-size: 20px;
      flex-shrink: 0;
    }
  }
}

.one-profile-page {
  padding: 70px 15px;
  font-size: 15px;

  .box-img {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px;
    border-radius: 50%;
    overflow: hidden;
  }

  .text-center-l {
    max-width: 320px;
    color: #d7d7d7;
    text-align: center;
    margin: 0 auto 25px;
  }

  .go-to-app {
    max-width: 320px;
    margin: 0 auto;
    color: var(--black);
    font-weight: 700;
    text-align: center;
  }

  .box-info {
    padding: 45px 24px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--lightBlack);
    background-color: rgba(250, 250, 250, 0.8);
  }

  .one-line {
    margin-bottom: 25px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    i {
      width: 22px;
      padding-right: 3px;
      flex-shrink: 0;
      font-size: 16px;
    }

    .text {
      width: 100%;
    }
  }
}

.text-center-d {
  max-width: 200px;
  margin: 0 auto 48px;
  font-size: 15px;
  color: var(--lightBlack);
  text-align: center;
}

.fill-wrapper {
  margin: 0 -21px;
  padding: 35px 21px 0;
  border-top: 1px solid rgba(60, 60, 67, 0.3)
}

.form-260 {
  max-width: 260px;
  margin: 0 auto;

  .dark-btn, .btn-light-2 {
    width: 100%;
    display: block;
  }
}

.datepicker-style {
  margin: -20px -21px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.events-calendar {
  padding: 21px 0 0;

  .clean {
    text-align: center;
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
  }
}

.one-item-c {
  margin-bottom: 10px;
  padding: 8px 8px 16px 20px;
  border-radius: 10px;
  display: block;
  color: var(--lightBlack);
  position: relative;
  border: 1px solid #d7d7d7;
  border-left: 0;
  background-color: var(--muted);

  .text-date {
    margin-bottom: 3px;
    text-align: right;
    font-size: 15px;
    color: var(--yellow);
    font-weight: 400;
  }

  .title {
    margin-bottom: 17px;
    font-weight: 900;
  }

  &:before {
    width: 10px;
    top: -1px;
    bottom: -1px;
    left: 0;
    position: absolute;
    content: "";
    display: block;
    background-color: var(--yellow);
    border-radius: 10px 0 0 10px;
  }

  &.future {
    &:before {
      background-color: var(--green);
    }

    .text-date {
      color: var(--green);
    }
  }
}

.datepicker-style2 {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 0 auto 24px;
  overflow: hidden;
}

.my-time-line {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }

  .wrapper-i {
    width: 100%;
    padding: 7px 7px 7px 9px;
    display: flex;
    align-items: flex-start;
    background: var(--muted);
    border-radius: 10px;
    @media (max-width: $xs) {
      font-size: 13px;
    }

    img {
      width: 19px;
      margin: 5px 30px 0 5px;
      flex-shrink: 0;
      @media (max-width: $xs) {
        margin: 5px 10px 0 5px;
      }
    }

    .other-info {
      margin-bottom: 20px;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }

      & > * {
        width: 50%;
        padding-right: 10px;
      }
    }

    .text-center-l {
      width: 100%;
    }
  }

  .dark-btn {
    margin: 10px 0 0 10px;
    padding: 3px 14px;
    flex-shrink: 0;
    @media (max-width: $xs) {
      padding: 3px 7px;
    }

    i {
      font-size: 17px;
    }
  }
}

.box-map {
  height: calc(100vh - 370px);
  margin: 0 -21px;

  .map-img {

  }
}

.box-buttons-rounded {
  margin-bottom: -80px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 20px 40px;
  background-color: #ffffff;
  z-index: 5;
  border-radius: 30px 30px 0 0;

  .back {
    margin-bottom: 8px;
    display: inline-block;
    border-bottom: 0;
  }
}

.modal-map {
  height: 415px;
}

.modal-location-search {
  margin-top: 54px;
  padding: 23px;
  border-top: 1px solid rgba(60, 60, 67, 0.3);
}

.box-my-event {
  margin: 0 -21px;
  padding: 25px 21px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.3);

  &:last-child {
    border-bottom: 0;
  }

  .text-event {
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
    color: var(--lightBlack);

    &:last-child {
      margin-bottom: 0;
    }

    i {
      top: 0;
      left: 0;
      position: absolute;
      font-size: 16px;
    }

    .caption {
      margin-bottom: 3px;
      font-weight: 500;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .list-type-interest {
    margin: 0 -21px 10px;
  }

  .box-description {
    .caption-line {
      margin-bottom: 5px;
      font-size: 12px;
      color: var(--black);
      font-weight: 700;
    }

    .my-event-people {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.fancybox-thumbs__list a:before {
  border: 2px solid var(--lightBlack);
}

.box-event-top-btn {
  margin-bottom: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .light-btn {
    margin-right: 20px;
  }
}

.with-ico-h1 {
  display: flex;

  .dark-btn {
    margin-top: 12px;
    margin-left: 15px;
  }
}

.author-event {
  margin-bottom: -20px;
  display: flex;
  align-items: center;

  .box-img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid #d7d7d7;
    overflow: hidden;
  }

  .name {
    color: var(--black);
    font-weight: 700;
  }
}

.invite-btn-line {
  display: flex;
  align-items: flex-start;
  @media (max-width: $xs) {
    margin-bottom: -10px;
    flex-wrap: wrap;
    & > * {
      margin-bottom: 10px;
    }
  }

  .border-dark-btn {
    height: 32px;
    margin-right: 4px;
    padding: 3px 15px;
    font-size: 15px;

    i {
      font-size: 18px;
    }
  }
}

.type-invite {
  margin: 0 -21px 10px;
  padding: 0 10px 10px 21px;
  display: flex;
  align-items: center;
  overflow: auto;

  .one-type-invite {
    height: 34px;
    margin-right: 8px;
    padding: 4px 10px;
    border-radius: 50px;
    font-size: 15px;
    color: #CACACA;
    background: #FAFAFAE5;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    border: 1px solid #D7D7D7;
    @media (max-width: $xs) {
      font-size: 13px;
      line-height: 20px;
    }

    &.close {
      height: 40px;
      padding: 4px 22px;
      font-size: 20px;
    }

    &.active {
      border: 0;
      background: linear-gradient(264.53deg, #FF4789 -17.36%, #FF7134 100%);
      font-weight: 700;
      color: white;
    }
  }
}

.social-header {
  display: flex;
  flex-shrink: 0;

  .social-btn {
    width: 33px;
    height: 33px;
    margin-left: 15px;
    padding-top: 10px;
    flex-shrink: 0;
    line-height: 0;
    @media (max-width: $xs) {
      width: 24px;
      height: 24px;
      padding-top: 16px;
      margin-left: 10px;
    }
  }
}

.slider-years-old {
  margin-bottom: 45px;
  position: relative;

  .input-slider {
    width: 100px;
    position: absolute;
    top: -49px;
    right: 0;
    color: var(--black);
    font-size: 15px;
    text-align: right;
    padding-right: 0;
    font-weight: 400;
    border: 0;
    background-color: transparent;
  }
}

.date-time-description {
  margin: 0 0 0 -21px;
  padding: 15px 0 5px 21px;
  border-top: 1px solid #d7d7d7;
  color: var(--gray);
  position: relative;

  a, b {
    font-weight: 700;
    color: var(--gray);
  }

  .time-c {
    padding: 5px 0 5px 18px;
    color: #A9A9A9;
    font-weight: 400;
    background-color: white;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 2;
  }
}

.text-underline {
  text-decoration: underline;
}

.one-news {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  & > * {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.review-news {
  padding-bottom: 40px;
  box-shadow: 2px 4px 15px rgba(0, 84, 89, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(60, 60, 67, 0.1);
  background-color: #ffffff;

  .wrapper-r-one {
    padding: 0 23px 25px;
  }

  .top-text {
    padding: 30px 65px 30px 23px;
    border-bottom: 1px solid rgba(60, 60, 67, 0.3);
    color: var(--gray);
    @media (max-width: $xs) {
      padding: 30px 23px;
    }
  }
}

.name-news {
  font-weight: 700;
  text-decoration: underline;
}


.chat-page {
  padding-top: 70px;
  padding-bottom: 5px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.chat-page .top-chat {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 0;
  border-bottom: 1px solid #f0f3ff;
}

.chat-page .top-chat .flex-bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat-page .top-chat .flex-bl.done .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-page .top-chat .flex-bl.done .accept-question {
  display: none;
}

.chat-page .top-chat .flex-bl .box-btn {
  width: 200px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn {
    width: initial;
    max-width: 80px;
  }
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn:first-child {
    margin-right: 20px;
  }
}

.chat-page .top-chat .flex-bl .box-btn:first-child a {
  width: 100px;
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn:first-child a {
    width: 32px;
    padding: 10px;
  }
  .chat-page .top-chat .flex-bl .box-btn:first-child a i {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn:first-child span {
    display: none;
  }
}

.chat-page .top-chat .flex-bl .box-btn .status {
  height: 40px;
  color: #13bf13;
  font-size: 16px;
  border: 1px solid #e7f8e7;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn .status {
    width: 32px;
    height: 32px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
}

.chat-page .top-chat .flex-bl .box-btn .status i {
  margin-right: 10px;
  font-size: 8px;
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn .status i {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl .box-btn .status span {
    display: none;
  }
}

.chat-page .top-chat .flex-bl .box-btn:last-child {
  text-align: right;
}

.chat-page .top-chat .flex-bl .box-btn a, .chat-page .top-chat .flex-bl .box-btn button {
  width: initial;
  font-weight: 400;
}

.chat-page .top-chat .flex-bl .box-btn a i, .chat-page .top-chat .flex-bl .box-btn button i {
  margin-right: 5px;
  font-size: 10px;
}

.chat-page .top-chat .flex-bl > span {
  width: 100%;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 767px) {
  .chat-page .top-chat .flex-bl > span {
    text-align: left;
  }
}

.chat-page .top-chat .flex-bl .accept-question {
  color: #13bf13;
}

.chat-page .top-chat .flex-bl .accept-question:hover {
  color: #11ab11;
}

.chat-page .top-chat .flex-bl .status {
  display: none;
}

.chat-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.upload-file-chat {
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -2;
    content: '';
  }
}

.chat-field {
  width: 100%;
  overflow: hidden;
  position: relative;

  .upload-file-chat {
    padding: 12px 4px;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--black);
    font-size: 25px;
    z-index: 2;
  }

  .message-chat {
    padding: 8px 56px 8px 34px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fefefe;
  }

  input {
    width: 100%;
    height: 36px;
    border: 0;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .send-message {
    padding: 14px 16px 9px;
    color: var(--black);
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
  }
}

.content-chat {
  width: 100%;
  padding: 15px 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;

  .wr-scroll {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .message-line {
    position: relative;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    .box-img-user {
      width: 28px;
      height: 28px;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 50%;
      overflow: hidden;
    }

    .wrapper-message {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-end;
    }

    &.client .wrapper-message {
      align-items: flex-start;
    }
  }
}

.content-chat {
  .message-line {
    .read-ico {
      position: absolute;
      right: 0;
      bottom: 0;
      color: var(--gray);
      font-size: 16px;
    }

    .wrapper-message-image {
      max-width: 60%;
      margin-right: 20px;
      margin-bottom: 2px;

      .message-image {
        overflow: hidden;
        border-radius: 4px;

        &:nth-last-child(1) {
          border-radius: 4px 4px 18px 4px;
        }

        &:nth-last-child(2) {
          border-radius: 4px 4px 4px 18px;
        }

        &:nth-child(1) {
          &:nth-last-child(2) {
            border-radius: 18px 4px 4px 18px;
          }

          &:nth-last-child(4), &:nth-last-child(6) {
            border-radius: 18px 4px 4px 4px;
          }
        }

        &:nth-child(2) {
          &:nth-last-child(1) {
            border-radius: 4px 18px 18px 4px;
          }

          &:nth-last-child(3), &:nth-last-child(5) {
            border-radius: 4px 18px 4px 4px;
          }
        }

        &:nth-child(3) {
          &:nth-last-child(2) {
            border-radius: 4px 4px 4px 18px;
          }
        }

        &:nth-child(4) {
          &:nth-last-child(1) {
            border-radius: 4px 4px 18px 4px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:first-child {
        .message-image {

        }
      }

      &:last-child {
        .message-image {

        }
      }
    }

    .one-message {
      max-width: 60%;
      margin-right: 20px;
      margin-bottom: 2px;
      padding: 10px 12px;
      font-size: 15px;
      font-weight: 400;
      color: #ffffff;
      background-color: var(--lightBlack);
      border-radius: 18px 18px 4px 18px;

      &:last-child {
        margin-bottom: 0;
        border-radius: 18px 4px 18px 18px;

        &:first-child {
          border-radius: 18px;
        }
      }
    }

    &.client {
      .wrapper-message-image {
        margin-left: 40px;
        margin-right: 0;
      }

      .one-message {
        margin-left: 40px;
        margin-right: 0;
        color: var(--lightBlack);
        background-color: rgba(202, 202, 202, 0.3);
        border-radius: 18px 18px 18px 4px;

        &:last-child {
          margin-bottom: 0;
          border-radius: 4px 18px 18px 18px;

          &:first-child {
            border-radius: 18px;
          }
        }

      }
    }

    &.not-read {
      .read-ico {
        color: #d7d7d7;
      }
    }
  }
}

.wrapper-message-image {
  margin: 0 -1px -1px 0;
  display: flex;
  flex-wrap: wrap;

  .message-image {
    width: calc(50% - 1px);
    margin: 0 1px 1px 0;
    height: 62px;
    line-height: 0;

    &:last-child {
      &:first-child {
        width: 100%;
        height: initial;
        border-radius: 18px 4px 18px 18px !important;
      }
    }
  }
}

.client {
  .wrapper-message-image {
    .message-image {
      &:last-child {
        &:first-child {
          border-radius: 4px 18px 18px 18px !important;
        }
      }
    }
  }
}

.chat-top-nav {
  padding: 8px 20px 8px 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-bottom: 1px solid #d0d0d0;
  background-color: rgba(242, 242, 242, 0.97);

  .btn-back-list-chat {
    position: absolute;
    color: var(--black);
    font-size: 23px;
    left: 0;
    top: 0;
    padding: 15px 14px;
    line-height: 0;
  }

  .box-author {
    display: flex;
    align-items: center;

    .box-img {
      width: 36px;
      height: 36px;
      margin-right: 10px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 1px solid #d7d7d7;
      overflow: hidden;
      line-height: 0;
    }

    .text-info {
      width: 100%;

      .write-now {
        font-size: 12px;
        color: #d7d7d7;
        font-weight: 400;
      }

      .name {
        color: var(--black);
        line-height: 20px;
        font-weight: 700;
      }
    }
  }
}

.radio-select-event {
  margin-bottom: 30px;

  .one-select {
    margin-bottom: 15px;
    padding: 20px 20px 20px 40px;
    background: var(--muted);
    border: 1px solid #D7D7D7;
    display: block;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      z-index: -2;
      visibility: hidden;

      &:checked + span {
        &:before {
          background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);
          border: 1px solid transparent;
        }
      }
    }

    & > span {
      display: block;
      position: relative;

      &:before {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: -30px;
        border-radius: 50%;
        content: '';
        display: block;
        border: 1px solid rgba(60, 60, 67, 0.3);
        background: #F7F9FA;
      }
    }

    .top-text {
      margin-bottom: 5px;
      color: var(--lightBlack);
      font-weight: 900;
      display: block;
    }

    .bottom-text {
      color: #A9A9A9;
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.btn-border-with-ico {
  min-width: 50px;
  height: 34px;
  padding: 1px;
  font-size: 18px;
  display: block;
  border-radius: 20px;
  background: linear-gradient(200deg, #DE4585 7%, #FD5960 50%, #FF7134 90%, #FE8742 90%);

  span {
    width: 100%;
    height: 100%;
    padding: 2px 10px;
    border-radius: 20px;
    display: inline-flex;
    background: #fff4f8;
    align-items: center;
    justify-content: center;
  }
}

.event-top-search {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  .search-e-s {
    width: 100%;
    margin-right: 15px;
  }

  .btn-border-with-ico {
    margin-right: 10px;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.events-list-image {
  margin: 0 -21px 30px;
  overflow: auto;
  padding-right: 20px;
  padding-bottom: 10px;

  .wrapper-inside {
    padding: 0 21px;
    display: flex;

    .one-ev {
      width: 100px;
      height: 100px;
      margin-right: 10px;
      border-radius: 10px;
      overflow: hidden;
      line-height: 0;
      flex-shrink: 0;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      span {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 500;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
    }
  }
}











